{% extends "layout.html" %}
{% block content %}

<section>
  <h1>Vitajte na fóre Dezinfórum</h1>
  <p>
    Pochybujete o dôveryhodnosti žurnalistického článku ktorý ste si práve prečítali?
    Položte svoje otázky ľuďom, ktorým záleží na pravdivých informáciách
  </p>
  <p>
    Dezinfórum je otvorená komunita používateľov, ktorí diskutujú fakty uvedené v žurnalistických článkoch, vďaka čomu
    prinášajú objektívny pohľad na uvedené informácie.
  </p>
</section>

<h2>Nedávne otázky:</h2>

{% for post in posts.items %}
<article class="media content-section">
  <div class="votes">
    <strong>{{ post.votes }}<br>
      {% if ((post.votes > 5) or (post.votes < -5)) %} hlasov
      {% elif ((post.votes > 1) or (post.votes < -1)) %} hlasy
      {% elif (post.votes == 1) or (post.votes == -1) %} hlas
      {% elif (post.votes == 0) %}hlasov{% endif %}
    </strong>
  </div>
  <div>
    <img class="rounded-circle article-img"
      src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2"
          href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </div>
</article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
. . .
{% endif %}
{% endfor %}
{% endblock content %}