{% extends "layout.html" %}
{% block content %}

<section>
  <h1>Top prispievatelia</h1>
  <p>Pravidelný prispievatelia tvoria základ komunity projektu Dezinfórum. Pozrite si rebríček top 5 prispievateľov na
    základe dosiahnutého skóre v ich príspevkoch.</p>
</section>

<h2>Rebríček:</h2>
<table class="leaderboard">
  <tr>
    <th>Poradie</th>
    <th>Meno</th>
    <th>Skóre</th>
    <th>Odznaky</th>
  </tr>
  {% for user in users %}
  {% if loop.index <= 5 %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ user.username }}</td>
    <td>{{ (user.score * 1000)|round|int }}</td>
    <td>
      {% if user.score > 0.8 %}
      <img class="user-badge" src="../static/badges/gold.png" alt="">
      {% endif %}
      {% if user.score > 0.65 %}
      <img class="user-badge" src="../static/badges/silver.png" alt="">
      {% endif %}
      {% if user.score > 0.5 %}
      <img class="user-badge" src="../static/badges/bronze.png" alt="">
      {% endif %}
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>


{% endblock content %}