{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="votes">
    <form action="{{ url_for('posts.upvote_post', post_id=post.id) }}" method="post">
      {% if post.can_upvote %}
      <button>&#8963;</button>
      {% endif %}
    </form>
    <strong>{{ post.votes }}</strong>
    <form action="{{ url_for('posts.downvote_post', post_id=post.id) }}" method="post">
      {% if post.can_downvote %}
      <button>&#8964;</button>
      {% endif %}
    </form>
  </div>
  <img class="rounded-circle article-img"
    src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2"
        href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if post.author == current_user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1"
          href="{{ url_for('posts.update_post', post_id = post.id) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
          data-target="#deleteModal">Delete</button>
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>

<div>
  <form method="POST" action="{{url_for('posts.add_post_comment', post_id=post_id)}}">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.message.label(class="form-control-label") }}

        {% if form.message.errors %}
        {{ form.message(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.message.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.message(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<section>
  <h3>Odpovede</h3>
  {% for comment in comments %}
  <article class="content-section media">
    <div class="votes">
      <form action="{{ url_for('posts.upvote_comment', post_id=post_id, comment_id=comment.id) }}" method="post">
        {% if comment.can_upvote %}
        <button>&#8963;</button>
        {% endif %}
      </form>
      <strong>{{ comment.votes }}</strong>
      <form action="{{ url_for('posts.downvote_comment', post_id=post_id, comment_id=comment.id) }}" method="post">
        {% if comment.can_downvote %}
        <button>&#8964;</button>
        {% endif %}
      </form>
    </div>
    <div>
      <h6>{{ comment.author.username }}</h6>
      <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
      <p>{{ comment.content }}</p>
    </div>
  </article>
  {% endfor %}
</section>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('posts.delete_post', post_id = post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}