{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="votes">
    <form action="{{ url_for('posts.upvote_post', post_id=post.id) }}" method="post">
      {% if post.can_upvote %}
      <button>&#8963;</button>
      {% endif %}
    </form>
    <strong>{{ post.votes }}<br>hlasov</strong>
    <form action="{{ url_for('posts.downvote_post', post_id=post.id) }}" method="post">
      {% if post.can_downvote %}
      <button>&#8964;</button>
      {% endif %}
    </form>
  </div>
  <div class="media-body">
    <img class="rounded-circle article-img"
      src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="article-metadata">
      <a class="mr-2"
        href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if post.author == current_user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1"
          href="{{ url_for('posts.update_post', post_id = post.id) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
          data-target="#deleteModal">Delete</button>
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>
    <div class="alert alert-secondary" role="alert">
      Odkaz na článok: <a href="{{ post.url }}" target="_blank">{{ post.url }}</a>
    </div>
    {% if is_in_konspiratory %}
    <div class="alert alert-warning" role="alert">
      Zdroj sa nachádza na zozname webov s pochybným obsahom. <a href="https://www.konspiratori.sk/zoznam-stranok.php" target="_blank">Viac o zozname</a>
    </div>
    {% endif %}
    <strong>Vierohodnosť článku:</strong>
    <div class="progress mb-2">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{ true_percent }}%" aria-valuemax="100">
        {{ true_percent }}%</div>
      <div class="progress-bar bg-danger" role="progressbar" style="width: {{ false_percent }}%" aria-valuemax="100">
        {{ false_percent }}%</div>
    </div>
    <div class="text-center credibility-buttons">
      <form action="{{ url_for('posts.true_post', post_id=post.id) }}" method="post">
        <button class="btn btn-success">Dôveryhodný</button>
      </form>
      <form action="{{ url_for('posts.false_post', post_id=post.id) }}" method="post">
        <button class="btn btn-danger">Nedoveryhodný</button>
      </form>
    </div>
  </div>
</article>

<div>
  <form method="POST" action="{{url_for('posts.add_post_comment', post_id=post.id)}}">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.message.label(class="form-control-label") }}

        {% if form.message.errors %}
        {{ form.message(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.message.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.message(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<section>
  <h3>Odpovede</h3>
  {% for comment in comments %}
  <article class="content-section media">
    <div class="votes">
      <form action="{{ url_for('posts.upvote_comment', post_id=post.id, comment_id=comment.id) }}" method="post">
        {% if comment.can_upvote %}
        <button>&#8963;</button>
        {% endif %}
      </form>
      <strong>{{ comment.votes }}<br>hlasov</strong>
      <form action="{{ url_for('posts.downvote_comment', post_id=post.id, comment_id=comment.id) }}" method="post">
        {% if comment.can_downvote %}
        <button>&#8964;</button>
        {% endif %}
      </form>
      {% if comment.votes > 0 %}
      <div class="text-success text-center">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
          </path>
        </svg>
      </div>
      {% endif %}
    </div>
    <div>
      <h6>{{ comment.author.username }} ({{ comment.author.score }})</h6>
      <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
      <p>{{ comment.content }}</p>
    </div>
  </article>
  {% endfor %}
</section>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('posts.delete_post', post_id = post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}